// Small tablets and large smartphones (landscape view)
$screen-xs-max: 575px;

// Small tablets (portrait view)
$screen-sm-max: 767px;

// Tablets and small desktops
$screen-md-max: 991px;

// Large tablets and desktops
$screen-lg-max: 1199px;


@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
      @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}