// MEDIA QUERIES EXAMPLE
// @include xs{
//   ...css properties
// }
// @include sm {
//   ...css properties
// }
// @include md {
//   ...css properties
// }
// @include {
//   ...css properties
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: avantgardemedium, Arial, sans-serif;
  letter-spacing: 0.5px;
  font-size: 0.9375rem;
  line-height: 1.27;
  font-weight: 400;
  color: #0a0a0a;
  background: #fefefe;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  margin: 0;
  padding: 0;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

strong,
b {
  font-weight: 700;
  line-height: inherit;
}

a {
  color: #000;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

ul {
  list-style-type: disc;
  margin-left: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  padding-left: 0;
  margin-bottom: 1;
  list-style-position: outside;
}

p,
.p {
  margin: 0 0 1.5em;
}

.main_project {
  margin: 0 auto;
  max-width: 90rem;
  min-height: 100%;
}

@media screen and (min-width: 80em) {
  body,
  .text {
    font-size: 1.125rem;
    line-height: 1.39;
  }
}

.classopacity1 {
  opacity: 1 !important;
}

@import "./header.scss";
@import "./body.scss";
@import "./footer.scss";
@import "./refinements.scss";
@import "./fonts.scss";
