@font-face {
    font-family: 'avantgardemedium';
    font-display: swap;
    src: url('/fonts/AvantGardeMedium/itc_avant_garde_medium.woff2') format('woff2');
}
  
@font-face {
    font-family: 'avantgardebold';
    font-display: swap;
    src: url('/fonts/AvantGardeBold/itc_avant_garde_bold.woff2') format('woff2');
}