/* ! Language Changer */

.ui-dialog {
    background-color: #fff;
    padding: 0 1.25rem 1.25rem;
    z-index: 999;
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
}

.language-selector-dialog {
    top: 0!important;
    z-index: 1000000;
}

.popup-dialog-layer {
    position: fixed;
    right: 0!important;
    left: auto!important;
    height: 100%!important;
    width: 100vw!important;
    padding: 0;
    display: none;
    flex-direction: column;
}

@media screen and (min-width: 50em) {
.popup-dialog-layer {
    width: 355px!important;
}
}

@media screen and (min-width: 80em) {
.popup-dialog-layer {
    width: 555px!important;
}
}

.ui-dialog-titlebar {
    padding-bottom: 0.9375rem;
    margin: 1.25rem 0;
    justify-content: flex-end;
}

.popup-dialog-layer .ui-dialog-titlebar {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0 0 auto;
    min-height: 50px;
    font-size: 1.5625rem;
    padding: 25px 60px;
    margin: 0;
    text-transform: uppercase;
    font-family: avantgardebold,Arial,sans-serif;
    line-height: normal;
    letter-spacing: 1px;
}

.ui-dialog-title {
    font-family: avantgardebook,Arial,sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
}

.popup-dialog-layer .ui-dialog-titlebar .ui-dialog-title {
    font-family: inherit;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.ui-dialog-titlebar-close {
    float: right;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 50em) {
.ui-dialog-titlebar-close {
    width: 23px;
    height: 23px;
}
}

.popup-dialog-layer .ui-dialog-titlebar .ui-dialog-titlebar-close {
    margin-left: 15px;
    flex: 0 0 auto;
    float: none;
    justify-content: flex-end;
}

@media screen and (min-width: 50em) {
.popup-dialog-layer .ui-dialog-titlebar .ui-dialog-titlebar-close {
    margin-top: 4px;
}
}

.svg-inline.close-icon {
    stroke: #000;
}

@media screen and (min-width: 50em) {
.ui-dialog-titlebar-close .svg-inline.close-icon {
    width: 100%;
    height: 100%;
}
}

.popup-dialog-layer>.ui-dialog-content, .popup-dialog-layer .dialog-content {
    flex: 1 1 auto;
    overflow: auto;
    padding: 20px 18px;
    box-shadow: none;
}

@media screen and (min-width: 50em) {
.popup-dialog-layer>.ui-dialog-content, .popup-dialog-layer .dialog-content {
    padding: 15px 20px;
}
}

@media screen and (min-width: 80em) {
.popup-dialog-layer>.ui-dialog-content, .popup-dialog-layer .dialog-content {
    padding: 25px 60px;
}
}

#languages-dialog-container .show-languages-list {
    list-style-type: none;
    margin: 10px 0;
}

#languages-dialog-container .show-languages-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
}

#languages-dialog-container .change-site-flag-name {
    cursor: pointer;
}

#languages-dialog-container .show-languages-item .country-selector-image-wrapper {
    display: flex;
    align-items: center;
}

img[data-src] {
    opacity: 0;
    transition: opacity .5s ease-in;
}

#languages-dialog-container .show-languages-item .country-selector-image-wrapper .country-selector-image {
    margin-right: 15px;
}

#languages-dialog-container .change-site-flag-name {
    cursor: pointer;
}

#languages-dialog-container .divider-line {
    height: 1px;
    background: #979797;
    margin: 10px 0;
}

#languages-dialog-container .link-underline a {
    text-decoration: underline;
}

@media screen and (max-width: 49.9375em) {
.popup-dialog-layer .ui-dialog-titlebar {
    text-align: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.27;
    padding: 10px 18px;
}
}

.ui-widget-overlay {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}

@media screen and (max-width: 49.9375em) {
.svg-inline.close-icon {
    stroke: #fff;
}
}

/* Black Button */

.back-to-top-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #000;
    right: 0;
    bottom: 77px;
    cursor: pointer;
    display: none;
    z-index: 2;
}

@media screen and (min-width: 50em) {
.back-to-top-btn {
    margin-right: 10px;
}
}

.back-to-top-btn.active {
    display: block;
}

.back-to-top-btn .arrow {
    position: absolute;
    top: 20px;
    left: 18px;
    width: 15px;
    height: 15px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.global-footer .language-wrapper .dropdown-with-arrow::after {
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
}

.global-footer .language-wrapper .dropdown-with-arrow::after {
    border-color: #fefefe;
    bottom: 0;
    top: 50%;
    right: 0;
}

.global-footer .reinssurance-accordion .accordion-item.is-active .accordion-title::before {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

[id*=-refinement-desktop]:checked~.refinement-title-wrapper .refinement-title:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

[id*=-refinement-desktop]:checked~.refinement-container {
    max-height: 1000px;
}

.refinement-title:hover {
    color: #bc1a1a;
}

.name:hover {
    color: #bc1a1a;
}

@media screen and (min-width: 50em) {
.global-footer .newsletter-banner .newsletter-banner-title {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 30px;
}
}

@media screen and (min-width: 80em) {
h2:not(.banner-title), .h2:not(.banner-title), h2:not(.product-brand) {
    font-size: 2.1875rem;
    line-height: 1.14;
}
}


@media screen and (min-width: 50em) {
    .label {
    font-size: .9375rem;
}
}

.search-filters .filter-by-btn, .filters-wrapper .filter-by-btn {
    flex-basis: 50%;
    outline-color: #ccc;
}

.breadcrumb.content-padding-js {
    padding-top: 3.125rem;
}


@media screen and (max-width: 480px) {
    .product-hit-wrapper {
        margin-top: 0;
    }
}

/* Menu Filtres */

.refinement-menu {
    height: 100%;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 15;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    width: 100%;
}

#refinement-menu-mobile+.refinement-menu {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

#refinement-menu-mobile:checked+.refinement-menu {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.refinement-menu .content-wrapper {
    overflow-x: hidden;
    height: calc(100% - 80px);
}

.refinement-menu .refinement-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #000;
    color: #fff;
    padding: 15px 20px;
}

.refinement-menu .refinement-menu-header .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: .9375rem;
    font-family: avantgardebold,Arial,sans-serif;
    position: relative;
}

.refinement-menu .refinement-menu-header .close-icon {
    stroke: #fff;
}

.refinement-content {
    display: flex;
    flex-direction: column;
}

.refinement-content .refinement-active-filters {
    display: flex;
    flex-flow: wrap;
}

.refinement-menu .refinement-active-filters {
    margin: 10px 20px 0;
    border-bottom: 1px solid #ebebeb;
    order: -3;
    flex: 1 1 auto;
}

.refinement-menu .refinement {
    padding: 0;
    flex: 1 1 auto;
}

.refinement-menu .refinement-title-wrapper {
    margin: 10px 20px 0;
    align-items: center;
}

.refinement .refinement-title {
    font-family: avantgardebold,Arial,sans-serif;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
}

@media screen and (max-width: 49.9375em) {
.refinement .refinement-title {
    align-items: center;
}
}

.refinement-menu .refinement-title {
    text-transform: none;
    width: auto;
}

.refinement-menu .refinement-title-wrapper .refinement-title {
    width: 100%;
}

.refinement-menu .arrow-wrapper {
    color: #ccc;
    font-size: .8125rem;
}

@media screen and (max-width: 49.9375em) {
.refinement .refinement-title-wrapper .arrow-wrapper {
    position: absolute;
    right: 20px;
}
}

.refinement-menu .refinement-title-wrapper .arrow-wrapper {
    font-family: avantgardemedium,Arial,sans-serif;
}

.refinement-menu ul {
    margin: 0;
}

.refinement-menu .refinement-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background: #fff;
    max-height: none;
    overflow: auto;
    height: 100%;
}

.refinement-menu .refinement-container .title {
    display: flex;
    height: 55px;
    max-height: 55px;
    background: #000;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    flex-basis: 100%;
    padding: 0 20px;
    font-family: avantgardebold,Arial,sans-serif;
}

.refinement .refinement-container.category li {
    padding: 5px 0;
}

.refinement-menu .refinement-container.category li {
    padding: 5px 20px;
}

.apply-filters, .apply-price-filter {
    display: none;
}

.refinement-menu .refinement-menu-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding-bottom: 34px;
}

.refinement-menu .refinement-menu-button {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.refinement .refinement-container.brand .brand-item .filter-item-checkbox, .refinement .refinement-container.brand .brand-item-top .filter-item-checkbox {
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 20px;
    border: 2px solid #000;
}

/* Aside Menu */

.refinement .refinement-container.brand .input-wrapper {
    position: relative;
}

.refinement .refinement-container.brand .brand-search-input {
    margin-bottom: 30px;
}

.refinement .refinement-container.brand .input-wrapper .search-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    stroke: #000;
    cursor: pointer;
}

.refinement .refinement-container.brand .brand-item, .refinement .refinement-container.brand .brand-item-top {
    display: flex;
    align-items: flex-start;
    padding: 5px 0;
    margin: 0;
    cursor: pointer;
    color: #000;
}

.refinement .refinement-container.brand .brand-item .check-icon, .refinement .refinement-container.brand .brand-item-top .check-icon {
    display: none;
}

.refinement .refinement-container.brand .more-container {
    max-height: 300px;
    overflow: auto;
}

#brand-more+.show-more-container .more-container {
    display: none;
}

#brand-more:checked+.show-more-container .more-container {
    display: block;
}

.slider-range-wrapper {
    padding: 60px 20px 30px;
    position: relative;
}

.slider-range-wrapper .slider-status-desktop, .slider-range-wrapper .slider-status-mobile {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    position: absolute;
    font-size: .875rem;
    font-weight: 700;
    justify-content: space-between;
    text-transform: uppercase;
}

.slider-range-wrapper .slider-status-desktop input, .slider-range-wrapper .slider-status-mobile input {
    height: auto;
    width: 35%;
    max-width: 70px;
    text-align: center;
    padding: 2px;
}

.noUi-target, .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    touch-action: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.slider-range-wrapper .noUi-horizontal {
    height: 5px;
}

.slider-range-wrapper .noUi-target {
    direction: ltr;
    position: relative;
    background: #ccc;
    height: 5px;
    border-radius: 10px;
    width: 100%;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.slider-range-wrapper .noUi-base, .slider-range-wrapper .noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.noUi-origin {
    position: absolute;
    height: 0;
    width: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.slider-range-wrapper .noUi-handle {
    position: absolute;
    z-index: 2;
    background: #fff;
    border-radius: 20px;
    margin-left: -10px;
    cursor: default;
}

.slider-range-wrapper .noUi-handle {
    margin-left: -8px;
}

.slider-range-wrapper .noUi-horizontal .noUi-handle {
    height: 23px;
    width: 23px;
    top: -9px;
    border: 2px solid #000;
}

.noUi-connect {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.slider-range-wrapper .noUi-connect {
    border-radius: 10px;
    background: #000;
    transition: background 450ms;
}

.refinement .refinement-container .refinement-item, .refinement .refinement-container .search-refinement-item {
    display: flex;
    align-items: flex-start;
    padding: 5px 0;
    cursor: pointer;
    color: #000;
}

.refinement .refinement-container .refinement-item .filter-item-checkbox, .refinement .refinement-container .search-refinement-item .filter-item-checkbox {
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 15px;
    border: 2px solid #000;
}

.refinement-rating .icon-rating-on {
    fill: #d50032;
}

.refinement-rating .icon-rating-off {
    fill: #979797;
}
