{%- from "system/component.html" import component -%}

{% block page %}
<!DOCTYPE html>
<html lang="fr-fr">
  <head>
    <meta charset="utf-8">

    <title>Sephora</title>
    <meta name="description" content="Sephora">
    <meta name="keywords" content="Sephora">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ rootPath }}/css/pre.css"/>
    <link rel="stylesheet" href="{{ rootPath }}/css/app.css"/>
  </head>
  <body>
    <div class="main_project">
    {% block header %}
      {% include "./header.html" %}
    {% endblock %}

    {% include "body.html" %}


    {% include './footer.html' %}

    {% include './sidebar.html' %}
  </div>

  <script src="{{ rootPath }}/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="{{ rootPath }}/js/main.js"></script>

  </body>
</html>
{% endblock %}